#lightbox{
	position:fixed;

    width:auto;
    height: auto;
    min-height: 10px;
    max-height: 700px;
    max-width: 1100px; 
    min-width: 200px; 
    background:#1e1e1e; color: #fff; 
    border: solid 1px #ddd;
    opacity: 0.9;
    text-align:left;
    display:none;
    z-index: 10001; 
    padding: 10px;
    padding-top: 3px;
    border-radius: 10px;
 
    }
    
    #lightbox #content{	font-family: helvetica;}
    
   
