#admincontent{position: fixed; top:0px; left: 0px;  z-index: 10000;   }
#adminlogin{position: fixed; top:0px; left: 0px; z-index: 10000;}
.secretmenu{padding: 10px; display:none; position: relative;  background: #fff; box-shadow: 3px 3px 5px -3px #000; border-radius: 10px; z-index: 10000; font-size: 25px; min-width:200px; }

#page{min-height: 10000px; width: 100%; min-width: 100vw; }
.mover{float:left; color: #000;}
.buttons{float: left;
 width: 75px;
border-radius:8px;  
box-shadow:0px 5px 5px -3px;
padding: 8px; 
margin: 2px;
text-align:center; background: #fff; 
font-size: 20px; 
 }
 
.colorpicker {height: 30px; width: 30px; float: left; padding: 0px; margin-right: 3px;}

 .buttons img{width: 50px;}
 .buttons a{color: #333333;}
.flippers{position: relative;} 
.addtext{display:none}
.addphoto{display:none}
.addbox{display:none}



.clear{clear:both;}
	.selex{width: 100px; 
	overflow:hidden; 
	float:left; 
	border-radius: 0px; 
	font-size: 11px;
	border-radius: 5px;
	 margin-right: 1px;
	 margin-left: 1px;
	 margin-top: 2px;
	margin-bottom: 2px;	 
	border-radius: 5px;}
	
	.slimx{width: 58px; 
	overflow:hidden; 
	float:left; 
	border-radius: 0px; 
	font-size: 11px;
	 margin-right: 1px;
	 margin-left: 1px;
	 margin-top: 2px;
	margin-bottom: 2px;
	border-radius: 5px;}
	
	.smallx{width: 41px;
	overflow:hidden; 
	float:left; 
	font-size: 11px;
	 margin-right: 1px;
	 margin-left: 1px;
	 margin-top: 2px;
	margin-bottom: 2px;
		 border-radius: 5px;}
		 
		 	
	.selex2{ background: #ffffff;  
	margin-top: 1px; 
	padding-left: 2px; 
	padding-right: 2px; 
	border-radius: 5px;
	 font-family: helvetica;
		clear:both; 
		width:260px;
		overflow:hidden; 
		float:left; 
		border-radius: 0px; 
		font-size: 10px;
		 border-radius: 5px;
		  margin:auto; 
		  margin-bottom: 3px;
		  }
		  
	label{text-align: left;}
	
	select{
	border: none; 
	border-radius:0px; 
	width: 115px;
	height: 30px; 
	background: #ccc; 
	font-size: 11px;
	padding-left: -5px;
	  }

	#livesaver{
		display:block; 
		font-size:10px;  
		margin: 0px; 
		padding: 0px; 
		position: fixed; 
		top: 20px; 
		right: 100px;
		z-index: 100000000; 
		height:60px; 
		overflow:hidden;
		}
	#dragtop{
		font-size: 9px;
		padding: 1px; 
		height: 15px;
		width:30px;
		}
	#dragleft{
		font-size: 9px; 
		padding: 1px; 
		height: 15px; 
		width:30px;
		}
		#elementpos{height:0px; width: 0px; padding: 0px;}
		#elementres{height:0px; width: 0px; padding: 0px;}
		#sizesaver{
			font-size:10px; 
			position: fixed; 
			top: 20px; 
			right: 180px; 
			display:block; 
			margin:0px;
			 padding:0px; 
			 z-index: 100000000;
			 height: 600px; 
			 overflow:hidden;}
		
		#resleft{font-size: 9px; padding: 1px; height: 15px; width:30px; }
		#absresleft{font-size: 9px; padding: 1px; height: 15px; width:30px;}
		#restop{font-size: 9px; padding: 1px; height: 15px; width:30px; }
		#respostop{font-size: 9px; padding: 1px; height: 15px; width:30px; }
		#resposleft{font-size: 9px; padding: 1px; height: 15px; width:30px; }

			